@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    width: 90%;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(34. 36. 38, .15);
}

.react-calendar__tile--active {
   background: rgb(0, 132, 255) !important;
}

.react-calendar__tile--now {
    background: rgb(159, 206, 251) !important;
    color: white;
}
*{
    z-index: 0;
}

.react-datepicker,
.react-datepicker-wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

.react-datepicker-popper {

    z-index: 3 !important;
}
